$green: #016f30;
$red: #FF0008;

body {
	background: $green;
	font-family: 'Raleway';
	color: #fff;
	padding: 20px;
}

h1 {
	font-size: 200%;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
}

h2 {
	font-size: 150%;
	font-weight: 500;
	margin-bottom: 20px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.button {
	border: none;
	font-size: 20px;
	padding: 20px;
	display: inline-block;
	cursor: pointer;
	width: 32%;
}

.wrapper {
	margin: 10px auto;
	width: 100%;

	@media screen and (min-width: 481px) {
		width: 100%;
	}

	@media screen and (min-width: 769px) {
		width: 80%;
	}	

	@media screen and (min-width: 960px) {
		width: 50%;
	}
}

.box {
	margin-bottom: 5px;
	background: darken($green, 4%);
	padding: 20px;
}

.card-wrapper {
	height: 165px;
}

.card {
	border: 1px solid #fff;
	width: 120px;
	height: 160px;
	margin: auto;
	border-radius: 5px;
}

.deal-button {
	background: #ff0;

	&:hover {
		cursor: pointer;
	}
}

.card-wrapper {
	display: block;
}

.card {
	color: #222;
	background: #fff;
	border: 1px solid #222;
	display: inline-block;

	div {
		padding: 25px 5px 3px 5px;
		text-align: center;
		font-size: 200%;

		&.red {
			color: $red;
		}

		&.black {
			color: #000;
		}
	}
}