//reset and base styles go here
body {
	background: #016f30;
	font-family: 'Raleway';
	color: #fff;
}

h1 {
	font-size: 200%;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
}

.wrapper {
	width: 500px;
	margin: auto;
}

.box {
	height: 100px;
	margin-bottom: 5px;
}

.card {
	border: 1px solid #fff;
	width: 60px;
	height: 100%;
	margin: auto;
	border-radius: 5px;
}

.deal-button {
	background: #ff0;
	border: none;
	font-size: 20px;
	padding: 20px;
	width: 100%;

	&:hover {
		cursor: pointer;
	}
}