//reset and base styles go here
body {
	background: #016f30;
	font-family: 'Raleway';
	color: #fff;
}

h1 {
	font-size: 200%;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
}

.wrapper {
	width: 500px;
	margin: auto;
}

.box {
	height: 150px;
}